// Campfire
body {
    &.campfire-active {

        .main-section-content {
            right: $campfire-section-width;
        }
    }

    .campfire-section {
        display: block;
    }
}

.campfire-section {
    @include position(fixed, $header-main-height, 0, 0, false, 222);
    border-left: 1px solid $border-color-main;
    width: $campfire-section-width;

    &:hover {
        .chat-log-container {
            overflow-y: auto;
        }
    }

    .chat-log-container {
        @include position(absolute, 50px, 0, $campfire-chat-submit-height, 0, 3);
        overflow: hidden;
        padding: 0 10px;
    }

    .chat-log {
        // .chat-message:nth-child(odd) {
        //     background: $bg-color-lighter;
        // }
    }

    .chat-message {
        border-bottom: 1px dotted $border-color-main;
        font-size: $font-size-small;
        padding: 8px 10px;
        overflow: hidden;

        .timestamp {
            font-size: $font-size-x-small - 1;
            color: $font-color-light;
        }

        .user {
            color: $font-color-dark;
            display: inline-block;
            font-weight: bold;
            float: left;
            min-width: 60px;
            margin-right: 10px;
        }

        .message {
            display: inline-block;
            overflow: hidden;
            width: auto;
        }
    }

    .chat-log-submit {
        border-top: 1px solid $border-color-main;
        @include position(absolute, false, 0, 0, 0, 100);
        height: $campfire-chat-submit-height;
        overflow: hidden;
        padding: 10px;

        textarea {
            border: 1px solid darken($border-color-main, 12);
            font-family: $font-family-base;
            font-size: $font-size-small;
            line-height: 1.5em;
            height: 65px;
            width: 100%;
            padding: 5px 10px;
        }

        .chat-submit {
            font-family: $font-family-base;
            font-size: $font-size-small;
            line-height: 1;
            border: none;
            padding: 8px 15px;
            background: $bg-color-light;
            width: 100%;

            &:active {
                background: darken($bg-color-light, 4);
            }
        }
    }
}