// Navigation (Section Left)

.main-section-left {
    @include position(fixed, $header-main-height, false, 0, 0, 555 );
    padding: 20px;
    border-right: 1px solid $border-color-main;
    width: 200px;

    .main-section-left-nav {
        list-style: none;
        margin: -8px 0 0;
        padding: 0;

        a {
            color: $font-color-dark;
            display: block;
            padding: 8px 0;

            &:hover {
                color: $font-color-link;
                text-decoration: none;
            }
        }
    }
}