// Navigation (Section Left)

.main-section-left {
    @include position(fixed, $header-main-height, false, 0, 0, 555 );
    background: $nav-dark-bg-color;
    padding: 0px;
    width: $nav-section-left-width;

    .main-section-left-nav {
        list-style: none;
        margin: 8px 0 0;
        padding: 0;

        a {
            color: $nav-dark-font-color;
            display: block;
            padding: 8px 20px;

            &:hover {
                background: darken($nav-dark-bg-color, 3);
                color: $font-color-white;
                text-decoration: none;
            }

            &.active {
                background: darken($nav-dark-bg-color, 3);
            }
        }
    }
}