// Section (Main)

.main-section-content {
    @include position(absolute, $header-main-height, 0, false, $nav-section-left-width, 333);

    header {
        h3 {
            margin-top: 0;
        }
    }

    .container {
        width: auto;
        padding: $gutter;
    }
}