// Section (Main)

.main-section-content {
    @include position(fixed, $header-main-height, 0, 0, $nav-section-left-width, 333);
    overflow: hidden;
    overflow-y: auto;

    // &:hover {
    //     overflow-y: auto;
    // }


    header {
        h3 {
            margin-top: 0;
        }
    }

    .container {
        width: auto;
        padding: $gutter;
        @include position(relative, 0, 20px, false, 0, 3);
    }
}