// To-dos

.to-do-list-container {
    margin-bottom: $gutter-half;

    .header {

        &.urgent {
            border-left: 2px solid $to-do-urgent;

            .header-title {
                padding-left: $gutter-half;
            }
        }

        .header-title {
            padding: 10px 0;
            margin: 0;
            color: $font-color-dark;
            font-size: $font-size-base;
            font-weight: bold;
            line-height: 1.2em;
        }
    }

    &#to-do-due-today {
        .header {
            border-left: 2px solid $to-do-urgent;

            .header-title {
                padding-left: $gutter-half;
            }
        }
    }

    .to-do-list {
        @include list-unstyled;
        border-top: 3px solid $border-color-main;

        .to-do-task {
            @include disable-selection;
            background-color: #fff;
            cursor: pointer;
            padding: 10px 0px 10px $gutter-half ;
            border-bottom: 1px solid $border-color-light;
            overflow: hidden;

            &.complete {
                .to-do-title {
                    color: lighten($font-color-main, 16);
                    text-decoration: line-through;
                }
            }

            .to-do-action {
                float: left;
                margin-right: $gutter-half;

                input[type="checkbox"] {
                    margin: 0px 0;
                    vertical-align: top;
                }
            }

            .to-do-content {
                overflow: hidden;
                width: auto;

                .to-do-title {
                    .title {
                        font-size: $font-size-base;
                        margin-top: 0;
                        margin-bottom: 5px;
                        line-height: 1.4em;
                    }
                }

                .to-do-meta {
                    color: $font-color-light;
                    font-size: $font-size-x-small;
                    line-height: 1;
                }
            }

            .to-do-assigned {
                font-size: $font-size-x-small;
                float: right;
                text-align: right;
                margin-top: 0px;
                line-height: 1;

                .user-name {
                    min-width: 30px;
                }

                a {
                    color: $font-color-main;

                    &:hover {
                        color: $font-color-link;
                        text-decoration: none;
                    }
                }

                .user-name {
                    background: $bg-color-light;
                    text-align: center;
                    padding: 3px 6px;
                    margin-bottom: 10px;

                    a {
                        &:hover {
                            color: $font-color-dark;
                        }
                    }
                }
            }
        }
    }

}