
// Border Colors
$border-color-main:         #eee !default;

// Font Colors
$font-color-main:           #666 !default;
$font-color-dark:           #222 !default;
$font-color-black:          #000 !default;


$font-color-link:           #428bca !default;