
// Main Font Properties
$font-family-sans-serif:    "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base:          $font-family-sans-serif !default;


$font-size-base:            15px !default;
$font-size-small:           14px !default;
$font-size-smaller:         13px !default;
$font-size-x-small:         11px !default;